body {
    background: #181515;
    padding: 6em 0;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;


}

.first {
    background: rgb(248, 52, 143);
    border-radius: 5px;
    margin: 0 20px;
    position: relative;
    bottom: 10px;
    top: -13px;
    
}
h1 {
    color: black;
    font-size: lighter;
    text-align: center;
    margin: 0;
    padding: 0.5em;
    
}
.second {
    padding: 0 40px 20px 40px ;
  
}
.body {
    width: 40%;
    min-width: 50%;
    max-height: 30%;
    background-color: white;
    margin: 50px;
    border-radius: 10px;
    border: 1px solid white; 
    box-shadow: 10px 10px 20px 5px rgba(81, 73, 73, 0.3); 
}


